apiVersion: v1
stringData:
  {{ if .Values.postgres.enabled }}
    uri: "postgresql://{{ .Values.postgres.user }}:{{ .Values.postgres.password }}@{{ .Chart.Name }}-postgres-svc:5432/{{ .Values.postgres.database }}?schema=public"
  {{ else }}
    uri: {{ .Values.api.postgres.uri }}
  {{ end }}
kind: Secret
metadata:
  name: postgres
  labels:
    {{- include "codeanker.label" . | indent 4 }}
type: Opaque
---
apiVersion: v1
kind: Secret
metadata:
  name: authentication
  labels:
    {{- include "codeanker.label" . | indent 4 }}
stringData:
  secret: {{ .Values.api.authentication.secret }}
  oidc_issuer: {{ .Values.app.oidc.issuer }}
  oidc_clientId: {{ .Values.app.oidc.clientId }}
  oidc_clientSecret: {{ .Values.app.oidc.clientSecret }}
  oidc_allowInsecure: {{ .Values.app.oidc.allowInsecure }}
---
apiVersion: v1
kind: Secret
metadata:
  name: sendgrid
  labels:
    {{- include "codeanker.label" . | indent 4 }}
stringData:
  apikey: {{ .Values.app.sendgrid.apiKey }}
---
apiVersion: v1
kind: Secret
metadata:
  name: meilisearch
  labels:
    {{- include "codeanker.label" . | indent 4 }}
stringData:
  key: {{ .Values.app.meilisearch.key }}
type: Opaque
---
apiVersion: v1
kind: Secret
metadata:
  name: azure
  labels:
    {{- include "codeanker.label" . | indent 4 }}
stringData:
  account:  {{ .Values.app.fileProviders.AZURE.account }}
  accountKey:  {{ .Values.app.fileProviders.AZURE.accountKey }}
  container:  {{ .Values.app.fileProviders.AZURE.container }}
  folder:  {{ .Values.app.fileProviders.AZURE.folder }}
type: Opaque
---
apiVersion: v1
kind: Secret
metadata:
  name: tomtom
  labels:
    {{- include "codeanker.label" . | indent 4 }}
stringData:
  apikey: {{ .Values.app.tomtom.apikey }}
type: Opaque
