version: '3.9'

services:
  postgres:
    image: postgres:15.3-alpine3.18
    container_name: postgres
    hostname: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: brahmsee.digital
      TZ: Europe/Berlin
    volumes:
      - postgres-data:/var/lib/postgresql/data
  meilisearch:
    image: getmeili/meilisearch:v1.6
    environment:
      - MEILI_MASTER_KEY=xbAPupQKhkKvF176vE2JxAdPGpmWVu251Hldn6K4Z6Y
    volumes:
      - meilisearch-data:/data.ms
    restart: unless-stopped

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.7
    command: start-dev
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KC_HTTP_PORT=6060

volumes:
  postgres-data:
  admin-data:
  meilisearch-data:
