@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-display: block;
  src: url(./fonts/InterVariable.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-display: block;
  src: url(./fonts/InterVariable-Italic.woff2) format('woff2');
}
