@import "./animations.scss";
@import "./tailwind.scss";
// @import "@vuepic/vue-datepicker/dist/main.css";
@import "./baseFormStyle.scss";
@import "./datepicker.scss";
@import "./fonts.scss";

html, body, #app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: overlay;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  scrollbar-gutter: stable;
  @apply bg-slate-50 text-primary-950;
}
