/*! @import */
@tailwind base;

@layer base {
  h1, h2, h3, h4, h5, h6{
    @apply font-bold mt-0
  }
  h1{
    @apply text-6xl mb-4
  }
  h2{
    @apply text-4xl mb-4
  }
  h3{
    @apply text-3xl leading-9 mb-3
  }
  h4{
    @apply text-2xl leading-8 mb-2
  }
  h5{
    @apply text-lg leading-6 mb-2
  }
  h6{
    @apply text-base leading-5 mb-2
  }
  p{
    @apply mb-2
  }
  pre{
    @apply overflow-auto relative block bg-gray-800 rounded-lg py-8 px-4 text-white my-2;
    &:before{
      @apply absolute top-2 left-4 text-success-400;
      content: '<pre>'
    }
    &:after{
      @apply absolute bottom-2 left-4 text-success-400;
      content: '</pre>'
    }
  }
  .container {
    max-width: 100vw;
  }
}

@tailwind components;
@tailwind utilities;
